{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "rules": {
    "global-require": "off" // For require(IMAGE_PATH)
  },
  "globals": {
    "fetch": false
  }
}